<p id="notice"><%= notice %></p>

<p>
  <strong>Cep:</strong>
  <%= @endereco_restaurante.cep %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @endereco_restaurante.pais %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @endereco_restaurante.estado %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @endereco_restaurante.cidade %>
</p>

<p>
  <strong>Rua:</strong>
  <%= @endereco_restaurante.rua %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @endereco_restaurante.numero %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @endereco_restaurante.complemento %>
</p>

<p>
  <strong>Restaurante:</strong>
  <%= @endereco_restaurante.restaurante %>
</p>

<%= link_to 'Edit', edit_endereco_restaurante_path(@endereco_restaurante) %> |
<%= link_to 'Back', endereco_restaurantes_path %>
