<p id="notice"><%= notice %></p>

<p>
  <strong>Prato Pronto</strong>
  <%= "Nome: #{@prato.nome}" %>
</p>

<p>
  <%= "Descrição: #{@prato.descricao}" %>
</p>
<p>
  <%= "Preço: #{@pp.preco}" %>
</p>
<p>
  <%= link_to "Restaurante: #{@restaurante.nome}", @restaurante %>
</p>
<p>
  <%= link_to 'Comprar', "/pedidos/compra/#{@prato.id}" %>
</p>
