<p id="notice"><%= notice %></p>

<h1>Listing Restaurantes Proximos</h1>

<table>
  <thead>
  <tr>
    <th>Restaurante</th>
    <th colspan="3"></th>
  </tr>
  </thead>


  <%= form_tag(controller: "restaurantes_proximos", action: "lista_rest", method: "get") do |f| %>
      <%= check_box_tag(:dinheiro) %>
      <%= label_tag(:dinheiro, "Dinheiro") %>
      <%= check_box_tag(:cartao_credito) %>
      <%= label_tag(:cartao_credito, "Cartão de Crédito") %>
      <%= check_box_tag(:cartao_debito) %>
      <%= label_tag(:cartao_debito, "Cartão de Débito") %>
      <%= submit_tag("Filter") %>
  <% end %>

  <%= form_tag('/restaurantes_proximos', :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Pesquisa" %>
      <%= submit_tag "Pesquisar" %>
  <% end %>

  <tbody>
  <div>
    <% if @restaurantes_proximos.each do |restaurantes_proximo| %>
        <tr>
          <li><%= link_to "restaurantes_proximos/show/#{restaurantes_proximo.restaurante_id}" %></li>
        </tr>
    <% end.empty? %>
        Não foram encontrados resultados com os critérios de busca. Por favor, tente novamente
        com outros critérios.
    <% end %>
  </div>
  <div>
    <% if @found_foods.each do |found_food| %>
        <tr>
          <li><%= link_to "pratos/show/#{found_food.id}" %></li>
        </tr>
    <% end.empty? %>
        Não foram encontrados resultados com os critérios de busca. Por favor, tente novamente
        com outros critérios.
    <% end %>
  </div>
  </tbody>
</table>