<p id="notice"><%= notice %></p>

<h1>Listing Pedidos Has Pratos</h1>

<table>
  <thead>
    <tr>
      <th>Pedidos</th>
      <th>Pratos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pedidos_has_pratos.each do |pedidos_has_prato| %>
      <tr>
        <td><%= pedidos_has_prato.pedidos %></td>
        <td><%= pedidos_has_prato.pratos %></td>
        <td><%= link_to 'Show', pedidos_has_prato %></td>
        <td><%= link_to 'Edit', edit_pedidos_has_prato_path(pedidos_has_prato) %></td>
        <td><%= link_to 'Destroy', pedidos_has_prato, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pedidos has prato', new_pedidos_has_prato_path %>
