<p id="notice"><%= notice %></p>

<p>
  <strong>Cheque:</strong>
  <%= @pagamento_aceito.cheque %>
</p>

<p>
  <strong>Credito-amer-expre:</strong>
  <%= @pagamento_aceito.credito-amer-expre %>
</p>

<p>
  <strong>Credito-diners:</strong>
  <%= @pagamento_aceito.credito-diners %>
</p>

<p>
  <strong>Credito-goodcard:</strong>
  <%= @pagamento_aceito.credito-goodcard %>
</p>

<p>
  <strong>Credito-hipercard:</strong>
  <%= @pagamento_aceito.credito-hipercard %>
</p>

<p>
  <strong>Credito-mastercard:</strong>
  <%= @pagamento_aceito.credito-mastercard %>
</p>

<p>
  <strong>Credito-verdecard:</strong>
  <%= @pagamento_aceito.credito-verdecard %>
</p>

<p>
  <strong>Credito-visa:</strong>
  <%= @pagamento_aceito.credito-visa %>
</p>

<p>
  <strong>Credito-banricompras:</strong>
  <%= @pagamento_aceito.credito-banricompras %>
</p>

<p>
  <strong>Dinheiro:</strong>
  <%= @pagamento_aceito.dinheiro %>
</p>

<p>
  <strong>Debito-banricompras:</strong>
  <%= @pagamento_aceito.debito-banricompras %>
</p>

<p>
  <strong>Debito-bo:</strong>
  <%= @pagamento_aceito.debito-bo %>
</p>

<p>
  <strong>Debito-mastercard:</strong>
  <%= @pagamento_aceito.debito-mastercard %>
</p>

<p>
  <strong>Debito-visa:</strong>
  <%= @pagamento_aceito.debito-visa %>
</p>

<p>
  <strong>Vale-alelo:</strong>
  <%= @pagamento_aceito.vale-alelo %>
</p>

<p>
  <strong>Vale-sodexo:</strong>
  <%= @pagamento_aceito.vale-sodexo %>
</p>

<p>
  <strong>Vale-ticket:</strong>
  <%= @pagamento_aceito.vale-ticket %>
</p>

<p>
  <strong>Vale-valecard:</strong>
  <%= @pagamento_aceito.vale-valecard %>
</p>

<p>
  <strong>Vale-verocard:</strong>
  <%= @pagamento_aceito.vale-verocard %>
</p>

<p>
  <strong>Vale-srsmart:</strong>
  <%= @pagamento_aceito.vale-srsmart %>
</p>

<p>
  <strong>References:</strong>
  <%= @pagamento_aceito.references %>
</p>

<%= link_to 'Edit', edit_pagamento_aceito_path(@pagamento_aceito) %> |
<%= link_to 'Back', pagamento_aceitos_path %>
