<h2>iFit</h2>

<p id="notice"><%= notice %> </p>

<%= form_tag restaurantes_proximos_path, method: :get do

%>

    <center>
      <h1><%= label_tag "CEP"%></h1>
      <%= text_field_tag "CEP"%><br>
      <%= submit_tag "Pesquisar"%>
    </center>

    <%= link_to 'Login', new_user_sessions_path %>

<%end%>