<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @tag.nome %>
</p>

<p>
  <strong>Prato:</strong>
  <%= @tag.prato %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
