<p id="notice"><%= notice %></p>

<p>
  <strong>Nota alimento:</strong>
  <%= @avaliacao.nota_alimento %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @avaliacao.comentario %>
</p>

<p>
  <strong>Nota custo:</strong>
  <%= @avaliacao.nota_custo %>
</p>

<p>
  <strong>Nota geral:</strong>
  <%= @avaliacao.nota_geral %>
</p>

<%= link_to 'Edit', edit_avaliacao_path(@avaliacao) %> |
<%= link_to 'Back', avaliacaos_path %>
