<%= form_for(@prato_montado) do |f| %>
  <% if @prato_montado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prato_montado.errors.count, "error") %> prohibited this prato_montado from being saved:</h2>

      <ul>
      <% @prato_montado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :references %><br>
    <%= f.text_field :references %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
