<p id="notice"><%= notice %></p>

<h1>Listing Prato Montados</h1>

<table>
  <thead>
    <tr>
      <th>References</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prato_montados.each do |prato_montado| %>
      <tr>
        <td><%= prato_montado.references %></td>
        <td><%= link_to 'Show', prato_montado %></td>
        <td><%= link_to 'Edit', edit_prato_montado_path(prato_montado) %></td>
        <td><%= link_to 'Destroy', prato_montado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prato montado', new_prato_montado_path %>
