<h1>Login</h1>
<p id="notice"><%= notice %> </p>
<% if @user_session.errors.has_key? :base %>
    <div id="error_explanation">
      <%= @user_session.errors[:base].join(', ') %>
    </div>
<% end %>
<%= form_for @user_session do |f| %>
    <p>
      <%= f.label :user %>
      <%= f.text_field :user %>
      <%= error_tag @user_session, :user %>
    </p>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <%= error_tag @user_session, :password %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>
<p><%= link_to 'Cadastre-se', new_usuario_path %> </p>